:root {
  --primary-color: red;
}

body {

  background: #f7f7f7;
  font-family: "Poppins";
}

.navbar {
  background: rgb(169, 223, 242);
  padding: 1em;

  .logo {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.2em;
    span {
      color: var(--primary-color);
    }
  }
  nav.menu-btn {
    display: block;
  }
  nav {
    display: none;
  }
  nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: rgb(169, 223, 242);
    height: 100vh;
    padding: 1em;
  }
  ul.primary-nav {
    margin-top: 5em;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 0.5em;
      font-size: 1.3em;
      text-align: right;
      &:hover {
        font-weight: bold;
      }
    }
  }

  .container {
    max-width: 1320px;
    margin:0 auto;
    display: flex;
    place-content: space-between;
  }

  .mobile-menu {
    cursor: pointer;
  }

  .mobile-menu-exit {
    float: right;
    margin: 0.5em;
    cursor: pointer;
  }
}

a {
  color: black;
}


.wrapper-content {

  max-width: 1400px;
  overflow: auto;
  margin: auto;

  background-image: url(/images/fon.png);
  background-repeat: no-repeat;
  padding: 75px 0;
}
.form {
  padding: 15px;
}
.registr {
  background-color: white;
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
  box-shadow: 5px 5px 5px 5px rgb(109, 107, 107);
  padding-left: 30px;
  padding-right: 30px;
  label {
    color: rgb(158, 157, 157);
    box-sizing: border-box;
  }
}

input,
textarea[type="text"],
input[type="password"] {
  width: 100%;
  border-color: #a9a9a93d;
  box-sizing: border-box;
  display: inline-block;
  background: #ffffff;
  padding: 12px 10px;
  line-height: 5px;
  margin-top: 10px;
  margin-block-end: 10px;
}

textarea {
  max-width: 100%;
  max-height: 300px;
  width: 100%;
  height: 167px;
  max-height: 167px;
  min-width: 100%;
  min-height: 100px;
}

.phonespluss {
  display: flex;
  input {
    width: 70%;
    margin-right: 30px;
  }
  div {
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(214, 211, 211);
    text-align: center;
    cursor: pointer;
  }
  b {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}

.phones_delete {
  display: flex;
  input {
    width: 70%;
    margin-right: 30px;
  }
  div {
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: red;
    text-align: center;
    cursor: pointer;
  }
  b {
    display: block;
    color: white;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}

@media only screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }
  .navbar.container {
    display: grid;
    grid-template-columns: 180px autho;
    justify-content: unset;
  }
  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;

    ul {
      display: flex;
    }
    a {
      color: black;
      font-size: 1em;
      padding: 0.1em 1em;
    }

    ul.primary-nav {
      margin: 0;
    }

    li.current a {
      font-weight: bold;
    }
    .Authorization-btn a {
      margin-top: 0.2em;
      background-color: var(--primary-color);
      color: white;
      &:hover {
        color: var(--primary-color);
        background-color: white;
      }
    }
  }
}

.bottomnav {
  background: rgb(169, 223, 242);
  ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin-right: 2em;
    a {
      text-decoration: none;
      margin-right: 2em;
    }
  }
}
hr {
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  height: 2px;
  margin-block-start: 0;
  margin-block-end: 0;
}
.features {
  background: rgb(169, 223, 242);
  padding: 1em;

  .container {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    a {
      margin-left: 2em;
      text-decoration: none;
    }
    ul {
      list-style-type: none;
    }
    .features-nav {
      margin-right: 2em;
      padding-inline-start: 0;
    }

    .Social {
      display: flex;
      padding-inline-start: 0;
    }
  }
}

.footer {
  background: rgb(169, 223, 242);
  padding: 0.1em;
  .container {
    .footer-nav {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      list-style-type: none;
      li {
        margin-right: 2em;
      }
    }
    a {
      text-decoration: none;
    }
  }
}



.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #ddd;}


.dropdown:hover .dropdown-content {display: block;}

